<%= form_for @today do |f| %>
  <%= f.label :weight, "Enter Today's Weight" %>
  <%= f.text_field :weight, :size => 5 %>
  <%= f.submit "Save" %> 
  <br>
  Trend: <%= f.label :trend, @today.trend, :id => 'weight_trend' %>
<% end %>

<p />
<table>
  <tr>
    <th>Date</th>
    <th>Weight</th>
    <th>Trend</th>
  </tr>
<% Weight.find(:all).reverse.each do | w | %>
  <tr>
    <td><%= w.date %></td>
    <td><%= w.weight %></td>
    <td><%= w.trend %></td>
  </tr>
<% end %>
</table>
