<%= form_for @today do |f| %>
  <%= f.text_field :date, :size => 10 %>
  <%= f.text_field :weight, :size => 5 %>
  <%= f.label :trend, round_for_display(@today.trend), :id => 'weight_trend' %>
  <%= f.submit "Save" %> 
<% end %>

<p />
<table id="recent_weights">
  <caption>Recent Weights</caption>
  <tr>
    <th>Date</th>
    <th>Weight</th>
    <th>Trend</th>
  </tr>
  <% @recent_weights.each do | w | %>
  <tr>
    <td><%= w.date %></td>
    <td><%= w.weight %></td>
    <td><%= round_for_display(w.trend) %></td>
  </tr>
  <% end %>
</table>
